
@charset "utf-8";

:root {
  --font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --color-white: #FFFFFF;
  --color-light-gray: #D2D2D2;
  --color-mid-gray: #A2A2A2;
  --color-gray: #848484;
  --color-black: #000000;
  --accent-black: #1B1E28;
  --accent-blue: #566AAE;
  --accent-gray-light: #f1f1f1;
  --accent-green: #7FCAB1;
  --accent-red: #E03131;
  --accent-red-light: #ff8484;
  --border: #E9E9E9;
  --border-focus: #C1C1C1;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

dl, dt, dd, ol, ul, li {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--color-black);
  font-weight: 400;

  &:hover, &:focus {
    color: var(--color-black);
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  color: var(--accent-black);
  margin-top: 0;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

::selection {
  background: var(--accent-black);
  color: var(--color-white);
  text-shadow: none;
}

input:active, button:active, select:active, textarea:active, a:active,
input:focus, button:focus, select:focus, textarea:focus, a:focus {
  outline: 2px solid #7AACFE !important; /* for non-webkit browsers */
  outline: 5px auto -webkit-focus-ring-color !important;
  outline-offset: 4px;
}

input, select, textarea {
  &::selection {
    background: var(--accent-black);
    color: var(--color-white);
    text-shadow: none;
  }
}

.has-error {
  input:active, button:active, select:active, textarea:active, a:active,
  input:focus, button:focus, select:focus, textarea:focus, a:focus {
    outline: 2px solid var(--accent-red) !important; /* for non-webkit browsers */
    outline: 5px auto var(--accent-red) !important;
    outline-offset: 4px;
  }

  .form-control {
    border-color: var(--accent-red) !important;
    box-shadow: inset 0 0 0 2px var(--accent-red) !important;
  }
}

input, button, select, textarea {
  appearance: none;
  -webkit-appearance: none;
}


// Typography
body {
  font-family: var(--font-family);
  position: relative;
}

h1 {
  font-size: 28px;
  font-weight: 500;

  &.heading {
    font-size: 38px;
    font-weight: 300;
    line-height: 48px;
    margin-bottom: 0;
  }
}

h2 {
  font-size: 24px;

  &.title {
    font-size: 28px;
  }

  &.heading {
    font-size: 30px;
    font-weight: 200;
    line-height: 30px;
    opacity: 0.8;
  }
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 1px;
  color: var(--color-gray);
  margin-bottom: 15px;

  &.body-text {
    font-size: 18px;
    line-height: 30px;
  }
}

li {
  font-size: 15px;
  font-weight: 300;
  color: var(--color-gray);
  margin-bottom: 10px;
  letter-spacing: 1px;
}

blockquote {
  font-weight: 500;
  font-size: 22px;
  color: var(--accent-black);
  letter-spacing: 1px;
  border-left-width: 3px;
  padding: 20px 30px;
  background: var(--accent-gray-light);
}

// Helper Classes
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-margin { margin: 0 !important; }
.no-margin-top { margin-top: 0 !important; }
.no-margin-bottom { margin-bottom: 0 !important; }
.margin-top-5 { margin-top: 5px !important; }
.margin-top-10 { margin-top: 10px !important; }
.margin-top-15 { margin-top: 15px !important; }
.margin-top-20 { margin-top: 20px !important; }
.margin-top-25 { margin-top: 25px !important; }
.margin-top-30 { margin-top: 30px !important; }
.margin-top-35 { margin-top: 35px !important; }
.margin-top-40 { margin-top: 40px !important; }
.margin-top-45 { margin-top: 45px !important; }
.margin-top-50 { margin-top: 50px !important; }
.margin-top-55 { margin-top: 55px !important; }
.margin-top-60 { margin-top: 60px !important; }
.margin-top-65 { margin-top: 65px !important; }
.margin-top-70 { margin-top: 70px !important; }
.margin-top-75 { margin-top: 75px !important; }
.margin-top-80 { margin-top: 80px !important; }
.margin-top-85 { margin-top: 85px !important; }
.margin-top-90 { margin-top: 95px !important; }
.margin-top-95 { margin-top: 95px !important; }
.margin-top-100 { margin-top: 100px !important; }
.margin-bottom-5 { margin-bottom: 5px !important; }
.margin-bottom-10 { margin-bottom: 10px !important; }
.margin-bottom-15 { margin-bottom: 15px !important; }
.margin-bottom-20 { margin-bottom: 20px !important; }
.margin-bottom-25 { margin-bottom: 25px !important; }
.margin-bottom-30 { margin-bottom: 30px !important; }
.margin-bottom-35 { margin-bottom: 35px !important; }
.margin-bottom-40 { margin-bottom: 40px !important; }
.margin-bottom-45 { margin-bottom: 45px !important; }
.margin-bottom-50 { margin-bottom: 50px !important; }
.margin-bottom-55 { margin-bottom: 55px !important; }
.margin-bottom-60 { margin-bottom: 60px !important; }
.margin-bottom-65 { margin-bottom: 65px !important; }
.margin-bottom-70 { margin-bottom: 70px !important; }
.margin-bottom-75 { margin-bottom: 75px !important; }
.margin-bottom-80 { margin-bottom: 80px !important; }
.margin-bottom-85 { margin-bottom: 85px !important; }
.margin-bottom-90 { margin-bottom: 90px !important; }
.margin-bottom-95 { margin-bottom: 95px !important; }
.margin-bottom-100 { margin-bottom: 100px !important; }
.text-left { text-align: left !important; }
.text-right { text-align: right !important; }
.text-center { text-align: center !important; }

// Header
.skip-to-content-link {
  background: var(--accent-black);
  color: var(--color-white);
  height: 30px;
  line-height: 30px;
  left: 50%;
  padding: 0 12px;
  position: absolute;
  transform: translateY(-100px);
  transition: transform 0.3s;
  text-decoration: none;

  &:focus {
    color: var(--color-white);
  }
}

.skip-to-content-link:focus {
  transform: translateY(0);
  text-decoration: none;
}

.gdpr-prompt {
  display: none;
}

#back-to-top {
  display: inline-block;
  background-color: var(--accent-black);
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transition: background-color .3s, opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  appearance: none;
  border: none;
  padding: 0;
  margin: 0;
  text-align: center;

  &::after {
    content: "\f366";
    font-family: Ionicons;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 40px;
    color: var(--color-white);
  }
  &.show {
    cursor: pointer;
    opacity: 0.35;
    visibility: visible;

    &:hover, &:focus {
      opacity: 1;
    }
  }
}

#header {
  &.standard {
    padding-top: 50px;

    .header-wrapper {
      position: relative;

      #logo {
        float: left;
        display: flex;

        a {
          display: flex;

          svg {
            width: auto;
            height: 70px;

            #logo-rexy {
              transition: transform 0.25s ease-in-out;
              transform: translate(0, 0) scale(1);
            }

            #logo-eyes {
              transition: transform 0.25s ease-in-out;
              transform: translate(0, 0);
              transition-delay: 0.3s;
              transform-style: preserve-3d;

              &.moving {
                transition: transform 0.05s ease-in-out;
                transition-delay: 0s;
              }
            }

            path.blink.hide {
              display: none;
            }
          }

          &:hover, &:focus {
            text-decoration: none;

            svg {
              #logo-rexy {
                transform: translate(10px, -5px) scale(1.05);
              }

              #logo-eyes {
                transform: translate(-5px, -2px);
              }
            }
          }
        }
      }

      #menu-trigger {
        position: absolute;
        display: none;
        right: 10px;
        top: 10px;
        cursor: pointer;

        span {
          display: inline-block;
          position: relative;

          &:before, &:after {
            content: '';
            position: absolute;
          }

          &:before {
            top: -8px;
          }

          &:after {
            top: 8px;
          }

          &:before, &:after, & {
            background-color: var(--accent-black);
            width: 25px;
            height: 2px;
            transition: .3s all;
            display: block;
          }
        }

        &.open {
          span {
            background-color: transparent;

            &:before {
              transform: translateY(8px) rotateZ(-45deg);
            }

            &:after {
              transform: translateY(-8px) rotateZ(45deg);
            }
          }
        }
      }

      #main-menu {
        float: right;

        ul {
          li {
            list-style-type: none;
            margin-bottom: 0;
            display: inline-block;
            margin-left: 30px;
            position: relative;

            a {
              letter-spacing: 1px;
              display: block;
              transition: color .3s, border .3s;
              text-transform: uppercase;
              color: var(--color-gray);
              line-height: 70px;
              border-bottom: 2px inset transparent;
              font-weight: 400;

              &.active {
                color: var(--color-black);
                font-weight: 600;
                border-bottom: 2px inset rgba(0, 0, 0, 0.25);
              }

              &:hover, &:focus {
                text-decoration: none;
                color: var(--color-black);
                border-bottom: 2px inset var(--color-black);
              }
            }
          }
        }
      }
    }
  }
  &.display-menu {
    #logo {
      a {
        svg {
          #logo-rexy {
            transform: translate(10px, -5px) scale(1.05) !important;
          }

          #logo-eyes {
            transform: translate(-5px, -2px) !important;
          }
        }
      }
    }
  }
}

// Contents
.page-title {
  margin-top: 100px;
  margin-bottom: 60px;

  &.has-description {
    margin-bottom: 30px;

    h1 {
      margin-bottom: 10px;
    }
  }
}

.sep-line {
  border-top-color: var(--accent-gray-light);
  margin-top: 80px;
  margin-bottom: 80px;
}

// Client list
.client-list {
  list-style-type: none;

  li {
    line-height: 30px;
    color: rgba(0, 0, 0, 0.25);

    a {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: 0;
      margin-top: 20px;
      margin-bottom: 0;
      color: var(--accent-black);
      font-size: 18px;
    }

    a {
      &:hover {
        color: var(--accent-black);
      }
    }
  }
}

// Call To Action
.cta {
  text-align: center;

  p {
    margin-bottom: 0;

    &,
    a {
      font-size: 26px;
      line-height: 34px;
      letter-spacing: 0;
      font-weight: 300;
      color: var(--color-gray);
      display: inline-block;
    }

    a {
      color: var(--accent-black);
      font-weight: 500;
    }
  }
}

h2.title + div.cta > p, h2.title > div > p > a {
  font-size: 19px;
  line-height: 24px;
  font-weight: 300;
}

// Image Box
.img-box {
  margin-bottom: 40px;

  .box-thumb {
    min-height: 260px;
    display: flex;
    align-items: flex-end;
    border-bottom: 1px solid #adddcd;

    img, svg {
      width: 100%;
    }
  }

  .box-content {
    h3 {
      margin-top: 35px;
    }

    p {
      line-height: 26px;
      margin-bottom: 30px;
    }
  }

  &.horizontal {

    .box-thumb,
    .box-content {
      width: 50%;
    }

    .box-thumb {
      float: left;
    }

    .box-content {
      display: inline-block;
      padding-left: 30px;

      h4 {
        margin-top: 30px;
      }
    }
  }
}

// Description List
.desc-list {
  h3 {
    margin-bottom: 8px;
    font-weight: 400;
  }

  p {
    line-height: 24px;
    letter-spacing: 0;
    margin-bottom: 30px;
  }
}

#search-results {
  list-style: none;
}

// Button
.button {
  a {
    font-size: 13px;
    color: var(--accent-black);
    border: 1px solid var(--accent-black);
    padding: 8px 16px;
    display: inline-block;
    transition: all .3s ease;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
      background: var(--accent-black);
      color: var(--color-white);
    }
  }

  &.solid {
    a {
      background: var(--accent-black);
      color: var(--color-white);
      text-decoration: none;

      &:hover {
        background: var(--color-black);
        text-decoration: none;
      }
    }
  }
}

// Loader
.cbp:after,
.cbp-lazyload:after,
.cbp-popup-loadingBox:after {
  border-right-color: var(--accent-black);
  border-bottom-color: #363636;
  border-left-color: #404040;
  border-top-color: #d3d3d3;
}

// Lightbox
.cbp-popup-lightbox-title {
  font-size: 14px;
  font-weight: 300;
}

.cbp-popup-lightbox-title,
.cbp-popup-lightbox-counter {
  font-family: var(--font-family);
  letter-spacing: 1px;
}

.cbp-popup-lightbox .cbp-popup-next,
.cbp-popup-lightbox .cbp-popup-prev,
.cbp-popup-lightbox .cbp-popup-close {
  background-image: url('../images/cbp-sprite.png');
}

.cbp-item:hover .cbp-l-grid-agency-title {
  color: var(--accent-black);
}

.project-single {
  margin-top: 50px;
}

.project-title {
  h1 {
    margin-bottom: 0;
  }

  p {
    margin: 10px 0 0 0;
    font-size: 18px;
    font-weight: 400;
    color: var(--accent-black);
  }
}

.project-desc {
  margin-top: 15px;
}

.project-images {
  img {
    margin-bottom: 30px;
    width: 100%;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.project-meta {
  list-style-type: none;

  li,
  li a {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-gray);

    span {
      font-size: 16px;
      font-weight: 500;
      color: var(--accent-black);
      display: block;
    }
  }

  a {
    margin-right: 3px;

    &:hover {
      text-decoration: none;
      color: var(--accent-black);
    }
  }
}

.project-nav {
  list-style-type: none;
  text-align: center;
  margin-top: 50px;

  li {
    margin-bottom: 0;
  }

  li,
  li a {
    font-size: 14px;
    font-weight: 400;
    color: var(--accent-black);
    transition: .3s all;

    &:hover {
      border-color: rgba(44, 44, 44, 1);
      text-decoration: none;
    }
  }

  a {
    border-bottom: 1px solid rgba(44, 44, 44, .60);
    padding-bottom: 2px;
  }

  .page-prev {
    float: left;
  }

  .page-main {
    display: inline-block;
  }

  .page-next {
    float: right;
  }
}

// Forms
.form-control {
  border-radius: 0;
  box-shadow: none;
  font-size: 16px;
  font-weight: 400;
  color: var(--accent-black);
  padding: 9px 15px;
  height: auto;
  margin-bottom: 30px;
  border: 1px solid var(--border);

  &:focus {
    border-color: var(--border-focus);
    box-shadow: none;
  }
}

textarea {
  resize: none;
  height: 200px !important;
}

.form-submit {
  button {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--color-white);
    border: 0;
    background: var(--accent-black);
    padding: 12px 25px;
    margin-top: 10px;
    transition: .3s all;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      background: var(--color-black);
    }
  }
}

// Contact & Address
.contact-form {
  margin-bottom: 50px;
  position: relative;

  .form-control-wrap {
    position: relative;

    .contact-error-msg {
      position: absolute;
      top: 45px;
      color: var(--accent-red);
    }

    #message {
      &+.contact-error-msg {
        position: static;
        margin-top: -20px;
      }
    }

    .contact-error-msg {
      display: none !important;

      &.validation-error {
        display: block !important;
      }
    }
  }

  .contact-success,
  .contact-failed {
    color: var(--accent-black);
    margin-bottom: 35px;
    font-size: 24px;
    font-weight: 300;
    display: none;
    line-height: 54px;
  }

  .contact-failed {
    color: var(--accent-red);

    &.validation-error {
      display: block !important;
    }
  }

  .contact-success {
    color: var(--accent-green);
    &.validated {
      display: block !important;
    }
  }

  label {
    width: 100%;
  }

  #submit {
    white-space: nowrap;
    width: 100%;
  }

  #text-limit {
    font-weight: 300;
    opacity: 0.75;
  }
}

.contact-info {
  div, address {
    font-size: 14px;
    font-weight: 300;
    color: var(--color-gray);
    letter-spacing: 1px;

    span {
      display: block;
      font-size: 16px;
      font-weight: 500;
      color: var(--accent-black);
      letter-spacing: 1px;
    }
  }

  div {
    margin-bottom: 10px;
  }
}

// Post
.post-list {
  .post {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid rgba(132, 132, 132, .15);

    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }

    .post-img {
      display: block;
      box-shadow: 0 0 0 4px rgba(132, 132, 132, .15);

      img {
        width: 100%;
      }
    }

    .post-content {
      padding-top: 30px;

      .post-title,
      .post-title a {
        font-size: 24px;
        margin-bottom: 5px;

        &:hover {
          text-decoration: none;
          color: var(--accent-black);
        }
      }

      .post-meta {
        list-style-type: none;

        li {
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 8px;

          a {
            font-size: 14px;
            font-weight: 400;

            &:hover {
              text-decoration: none;
              opacity: .9;
            }
          }
        }
      }

      .post-excerpt {
        margin-bottom: 20px;
      }
    }
  }
}

// Footer
#footer {
  padding: 80px 0;

  &.standard {
    p, a {
      letter-spacing: .5px;
    }

    .copyrights {
      p {
        font-size: 14px;
        font-weight: 400;
        color: rgba(44, 44, 44, .7);
        margin-bottom: 0;
        white-space: nowrap;
      }
    }

    .footer-socials {
      text-align: right;

      a {
        font-weight: 400;
        display: inline-block;
        margin-left: 20px;
        opacity: 0.5;
        transition: opacity 0.25s;

        &:hover, &:focus {
          text-decoration: none;
          opacity: 1;
        }

        i {
          font-size: 26px;
        }
      }
    }
  }
}

// Responsive
@media all and (max-width:1199px) {
  #logo a {
    margin-top: 10px;
    svg {
      max-height: 50px;
    }
  }
}

@media all and (min-width:768px) and (max-width:991px) {
  #logo a {
    margin-top: 10px;
    svg {
      max-height: 40px;
    }
  }
  .contact-failed {
    font-size: 18px;
  }
}

@media all and (max-width:767px) {
  // Heading
  h1.heading {
    font-size: 28px;
    line-height: 32px;
  }

  h2.heading {
    font-size: 18px;
    line-height: 32px;
  }

  // Header
  #header.standard {
    padding-top: env(safe-area-inset-top);
    border-bottom: 1px solid #f1f1f1;
    position: sticky;
    top: 0;
    z-index: 500;
    background: var(--color-white);

    #main-menu {
      display: block;
      max-height: 450px;
      overflow: auto;

      ul {
        display: none;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        z-index: 500;
        background-color: var(--color-white);
        border-bottom: 4px solid rgba(132,132,132,0.2);
      }

      &.display-menu ul {
        display: block;
      }

      a:focus, a:hover {
        outline-offset: -2px !important;
      }
    }

    .header-wrapper {
      .container {
        padding-left: 0;
        padding-right: 0;
      }

      #menu-trigger {
        display: block;
        appearance: none;
        border: none;
        background: transparent;
        width: 37px;
        height: 30px;

        span {
          display: block;
        }
      }

      #main-menu, #logo {
        float: none;
      }

      #logo a {
        margin-top: 0;

        svg {
          padding: 10px;
          max-height: 50px;
        }
      }

      #main-menu {
        background-color: var(--accent-black);

        & > ul {
          & > li {
            display: block;
            margin-left: 0;
            border-top: 1px solid rgba(132, 132, 132, 0.2);

            & > a {
              color: var(--color-gray);
              padding-left: 20px;
              position: relative;
              line-height: 55px;
              border-bottom: none;

              &:hover, &:focus, &.active {
                color: var(--color-black);
                border-bottom: none !important;
              }
            }
          }
        }
      }
    }
  }

  #header.standard .header-wrapper #main-menu>ul>li:hover>a {
    color: var(--color-white);
  }

  // Others
  .page-title,
  .project-single,
  #map-block {
    margin-top: 50px;
  }

  .cta p,
  .cta p a {
    font-size: 20px;
    line-height: 28px;
  }

  .sep-line {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
  }

  // Content Box
  .content-box {
    margin-bottom: 30px;
  }

  .content-box p {
    width: 100%;
  }

  // Blog
  .comment-respond .comment-form .text-fields .form-control {
    width: 100%;
    margin-right: 0;
    float: none;
  }

  // Contact Form
  .contact-form {
    &>div {
      &:not(.form-submit) {
        padding: 0;
      }
    }
  }

  .form-submit > div {
    padding: 0;
  }

  .contact-failed {
    margin-top: 20px;
  }

  .contact-success {
    font-size: 20px;
  }

  .form-control-wrap {
    padding-left: 0;
    padding-right: 0;
  }

  // Footer
  #footer.standard {
    padding: 50px 0 70px 0;

    .footer-socials {
      text-align: center;
      margin-top: 10px;
    }

    .footer-socials a {
      margin-left: 5px;
      margin-right: 5px;
    }

    .copyrights {
      position: absolute;
      top: 55px;
      left: 50%;
      transform: translateX(-50%);

      p {
        text-align: center;
      }
    }
  }

  // Helper
  .margin-top-15-xs {
    margin-top: 15px !important;
  }

  .margin-top-50-xs {
    margin-top: 50px !important;
  }
}
@media all and (max-width:375px) {
  // Heading
  h1.heading {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 6px;

    b {
      display: block;
    }
  }

  h2.heading {
    font-size: 18px;
    line-height: 22px;
  }
}

html.gdpr-required {
  .gdpr-prompt {
    position: fixed;
    display: block;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.95);
    color: var(--color-white);
    z-index: 1000;
    padding: 20px;
    overscroll-behavior: contain;

    .gdpr-icon {
      width: 50px;
      display: inline-block;
      height: 40px;
      font-size: 40px;
      vertical-align: top;
      line-height: 50px;
    }

    .gdpr-wrapper {
      display: inline-block;
      max-width: calc(100% - 280px);
      vertical-align: top;
      width: 100%;

      .gdpr-head {
        font-weight: bold;
        font-size: 18px;
      }

      .gdpr-body {
        font-weight: 300;

        a {
          text-decoration: underline;
          opacity: 1;
          transition: color 0.25s;
          color: var(--color-white);

          &:hover, &:focus {
            color: var(--accent-green);
          }
        }
      }
    }

    .gdpr-buttons {
      display: inline-block;
      white-space: nowrap;
      float: right;
      margin-top: 5px;
      margin-right: 25px;

      button {
        appearance: none;
        background-color: var(--color-white);
        color: var(--color-black);
        text-transform: uppercase;
        opacity: 0.8;
        transition: all 0.25s;
        border: none;
        padding: 8px 16px;
        font-weight: 500;

        &.gdpr-accept {
          opacity: 1;
          &:hover, &:focus {
            background-color: var(--accent-green);
          }
        }

        &.gdpr-decline {
          opacity: 0.5;
          margin-right: 5px;

          &:hover, &:focus {
            background-color: var(--accent-red);
          }
        }

        &.gdpr-close {
          background-color: transparent;
          color: var(--color-white);
          position: absolute;
          top: 0;
          right: 0;
          font-size: 20px;
        }

        &:hover, &:focus {
          opacity: 1;
        }
      }
    }
  }

  #back-to-top {
    display: none !important;
  }
}

@media all and (max-width:600px) {
  html.gdpr-required {
    .gdpr-prompt {
      .gdpr-icon {
        width: 30px;
        display: inline-block;
        height: 20px;
        font-size: 20px;
        vertical-align: top;
        line-height: 30px;
      }

      .gdpr-wrapper {
        display: inline-block;
        max-width: calc(100% - 70px);
      }

      .gdpr-buttons {
        display: inline-block;
        white-space: nowrap;
        max-width: calc(100% - 70px);
        text-align: left;
        float: none;
        margin-left: 35px;
        margin-top: 15px;

        button {
          padding: 4px 12px;
        }
      }
    }
  }
}

@media all and (max-width:992px) {

  // Image box
  .img-box.horizontal {

    .box-thumb,
    .box-content {
      width: 100%;
      display: block;
    }

    .box-thumb {
      float: none;
    }

    .box-content {
      padding-left: 0;
    }
  }

  // Content Box
  .content-box p {
    width: 100%;
  }

  // Blog
  .post-img-wrap {
    padding-right: 0;
  }

  .post-content-wrap {
    padding-left: 0;
  }
}

@media screen and (prefers-color-scheme: dark) {
  ::selection {
    background: var(--color-white);
    color: var(--accent-black);
  }

  .skip-to-content-link {
    background: var(--color-white);
    color: var(--accent-black);

    &:focus {
      color: var(--accent-black);
    }
  }

  .has-error {
    input:active, button:active, select:active, textarea:active, a:active,
    input:focus, button:focus, select:focus, textarea:focus, a:focus {
      outline: 2px solid var(--accent-red-light) !important; /* for non-webkit browsers */
      outline: 5px auto var(--accent-red-light) !important;
      outline-offset: 4px;
    }

    .form-control {
      border-color: var(--accent-red-light) !important;
      box-shadow: inset 0 0 0 2px var(--accent-red-light) !important;
    }
  }

  .contact-form .contact-failed {
    color: var(--accent-red-light);
  }

  body {
    background: var(--accent-black);
    color: var(--color-white);
  }

  h1, h2, h3, h4, h5, h6, a {
    color: var(--color-white);
  }

  a {
    color: var(--color-white);

    &:hover, &:focus {
      color: var(--color-white);
    }
  }

  .button a, .form-submit button, .button.solid a {
    background-color: var(--color-light-gray);
    color: var(--color-black);
    font-weight: bold;

    &:hover, &:focus {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }

  p, .cta p {
    color: var(--color-light-gray);

    a {
      color: var(--color-white);

      &:hover, &:focus {
        color: var(--color-white);
      }
    }
  }

  #logo svg {
    .logo-st0 {
      fill: var(--color-white);
    }
    .logo-st1 {
      fill: var(--accent-black);
    }
    .border, #logo-mask {
      fill: var(--accent-black);
    }

    .background {
      fill: var(--color-white);
    }

    // Firefox Fix
    .logo-st0.mask {
      fill: var(--accent-black);
    }
  }

  #back-to-top {
    background-color: var(--color-white);

    &::after {
      content: "\f366";
      font-family: Ionicons;
      color: var(--accent-black);
    }
  }

  #header.standard {
    background-color: var(--accent-black);
  }

  #header.standard #main-menu ul {
    background-color: var(--accent-black);
  }

  #footer.standard .copyrights p {
    color: var(--color-light-gray);
  }

  #footer.standard .footer-socials a {
    color: var(--color-light-gray);

    &.active, &:focus, &:hover {
      color: var(--color-white);
    }
  }

  #header.standard .header-wrapper #main-menu ul li a,
  .client-list li a {
    color: var(--color-light-gray);

    &.active, &:focus, &:hover {
      color: var(--color-white);
    }
  }

  #header.standard .header-wrapper #main-menu ul li a {
    &.active {
      color: var(--color-white);
      border-bottom: 2px inset rgba(255, 255, 255, 0.25);
    }

    &:hover, &:focus {
      color: var(--color-white);
      border-bottom: 2px inset var(--color-white);
    }
  }

  .client-list li {
    color: rgba(255, 255, 255, 0.25);
    line-height: 30px;
  }

  .sep-line {
    border-top-color: #323546;
  }

  .contact-info div span, .contact-info address span {
    color: var(--color-white);
  }

  .post-list .post .post-content .post-date {
    color: var(--color-light-gray);
  }

  .post-list .post .post-content .post-title:hover,
  .post-list .post .post-content .post-title a:hover {
    color: var(--color-white);
    text-decoration: underline;
  }

  .project-meta li span {
    color: var(--color-white);
  }
  .project-title p, .project-meta li a span, .project-meta li {
    color: var(--color-mid-gray);
  }

  .project-meta li a {
    color: var(--color-mid-gray);

    &.active, &:focus, &:hover {
      color: var(--color-white);
    }
  }

  .project-nav li, .project-nav li a {
    color: var(--color-mid-gray);

    &.active, &:focus, &:hover {
      color: var(--color-white);
    }
  }

  svg path.dynamic-bg {
    fill: rgba(255, 255, 255, 0.05);
  }

  @media screen and (max-width:767px) {
    #header.standard {
      border-bottom: 1px solid #323546;

      .header-wrapper {
        background: var(--accent-black);

        #menu-trigger span:before, #menu-trigger span:after, #menu-trigger span {
          background-color: var(--color-white);
        }
      }
    }
  }
}

/* CSS specific to iOS devices */
@supports (-webkit-touch-callout: none) {
  input:active, button:active, select:active, textarea:active, a:active,
  input:focus, button:focus, select:focus, textarea:focus, a:focus {
    outline-offset: unset;
  }
}

/* Smooth scrolling IF user doesn't have a preference due to motion sensitivities */
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Support Pretty Printed Pages */
@media print {
  .avoid-break {
    break-inside: avoid;
  }
  .col-md-offset-2.col-md-8 {
    margin-left: 0;
    width: 100%;
  }
  #back-to-top, #footer, #main-menu {
    display: none !important;
  }
}
